@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @Html.ActionLink("InProgress orders", "index", "order", null, null)
    <br/>
    @Html.ActionLink("Top 5 Sold Product", "index", "Product", null, null)
      <br/>
    @Html.ActionLink("update stock count", "index", "offer", null, null)
    
</div>
